

<div  style="padding-top:50px">
    <!-- <h1 class="text-center"  style = "font-family: Georgia;"> Welcome to Space World </h1> -->
    <span class=" border border-dark">
<div class="container" style="width:740px; height:360px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="width:640px; height:360px;" src="https://apod.nasa.gov/apod/image/1009/ngc5055_gabany_sm.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-family: Courier New;">Discover Amazing Astronomy Pictures</h5>

      </div>
    </div>
    <div class="carousel-item">
      <img style="width:640px; height:360px;" src="https://apod.nasa.gov/apod/image/1104/IC410_hanson900.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-family: Courier New;">From All Over The World</h5>

      </div>
    </div>
    <div class="carousel-item">
      <img style="width:640px; height:360px;" src="https://apod.nasa.gov/apod/image/1511/UnexpectedPlume_Blair_2112.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="font-family: Courier New;">Along With Interesting Facts</h5>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
  
</div>
</div><br><br><br>
<div class="container marketing">



    <!-- START THE FEATURETTES -->
    <br> <br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Almost 200 Amazing Posts. <span class="text-muted">That’ll blow your mind.</span></h2>
        <p class="lead"></p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://apod.nasa.gov/apod/image/1808/AroundSadrNarduzziColombari1024.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>

      </div>
    </div> <br>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">With Explanation! <span class="text-muted"> So a whole lot of learning. </span></h2>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src= "https://apod.nasa.gov/apod/image/0301/vida_lter.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>

      </div>
    </div> <br>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly,  <span class="text-muted">  you can comment on these Posts to let people know what you think.</span></h2>
        <p class="lead">All you need to do is create an account and sign in. </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://apod.nasa.gov/apod/image/1406/irisdust_martinez_960.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
</span>



</div>  